<h5>Select Delivery Address</h5>
<hr class="solid">
<div class="container">
  <div class="payment-area">
    <div class="address-area">
      <section *ngFor="let address of addresses"
               (click)="onSelectAddress(address)">
        <div *ngIf="selectedAddress?.id === address.id"
             class="icon-area">
          <i class="fa-sharp fa-solid fa-circle-check fa-lg"
             style="color: #000000;"></i>
        </div>
        <div class="info-area">
          <div class="title">
            {{address.title}}
          </div>
          <div class="description-area">
            {{address.street}} {{address.street2}} / {{address.city}}
          </div>
        </div>
      </section>
    </div>
    <ng-container *ngIf="selectedAddress">
      <nz-spin [nzSpinning]="paymentLoading">
        <h5>Enter Payment Details</h5>
        <hr class="solid">
        <rappider-stripe [clientSecret]="stripeClientSecret"
                         [submitButton]="stripeSubmitButton"
                         (paymentSuccess)="onPaymentSuccess($event)"></rappider-stripe>
      </nz-spin>
    </ng-container>
  </div>
  <div class="summary-area">
    <section class="order-detail">
      <div>
        <span> Order Summary</span>
        <hr class="solid">
      </div>
      <div>
        Total Price: {{amount}} $
      </div>
    </section>
  </div>
</div>