<nz-collapse>
  <nz-collapse-panel *ngFor="let order of orderGroup"
                     [nzHeader]="headerTmpl"
                     [nzActive]="true">
    <ng-template #headerTmpl>
      <div class="header">
        <div class="title">
          Total of {{getTotalQuantity(order)}} products. Ordered at {{getShortDate(order?.orderId)}}
        </div>
        <div class="actions">
        </div>
      </div>
    </ng-template>
    <div *ngFor="let productGroup of order.productGroup"
         class="summary">
      <div *ngIf="productGroup.product.distributor"
           class="distributor-info">
        <div class="distributor">
          Distributor: {{productGroup.product.distributor.name}}
          <ng-container *ngIf="productGroup.carts[0].refundStatus">
            - Refund Status:
            <ng-container *ngIf="productGroup.carts[0].refundStatus === 'PENDING'">
              <nz-tag [nzColor]="'orange'">Pending</nz-tag>
            </ng-container>
            <ng-container *ngIf="productGroup.carts[0].refundStatus === 'APPROVED'">
              <nz-tag [nzColor]="'green'">Approved</nz-tag>
            </ng-container>
            <ng-container *ngIf="productGroup.carts[0].refundStatus === 'DECLINED'">
              <nz-tag [nzColor]="'red'">Declined</nz-tag>
            </ng-container>
          </ng-container>

        </div>
        <div class="comment-button">
          <button nz-button
                  [nzType]="'primary'"
                  (click)="openCommentModal(productGroup.product)"><span>Make Comment</span></button>
        </div>
      </div>
      <div class="product-info">
        <div class="product-detail">
          <div class="image">
            <img [src]="productGroup.product.imageUrl"
                 alt="Product Picture">
          </div>
          <div class="description-area">
            <div class="name">
              {{productGroup.product.name }}
            </div>
            <div class="model">
              {{productGroup.product.model}}
            </div>
            <div class="rating">
              <nz-rate [(ngModel)]="productGroup.product.rating"
                       nzAllowHalf></nz-rate>
              <button nz-button
                      (click)="onRate(productGroup.product)"> Save Rate</button>
            </div>
          </div>
        </div>
        <div class="quantity">
          <div class="quantity-detail">
            Quantity: {{productGroup.quantity}}
          </div>
          <div class="refund">
            <a (click)="onRefundRequest(productGroup,order.orderId)">Ask For A Refund</a>
          </div>
        </div>
      </div>

    </div>
  </nz-collapse-panel>

  <nz-modal [(nzVisible)]="isCommentModalVisible"
            [nzTitle]="'Comment to ' + commentedProduct?.name"
            (nzOnCancel)="cancelComment()"
            (nzOnOk)="makeComment()">
    <ng-container *nzModalContent>
      <rappider-crud-view-edit-form [config]="CREATE_COMMENT_CONFIG"
                                    [data]="newComment"
                                    [submitted]="isCommentSubmitted"
                                    (fieldValueChange)="onMessageChange($event)"
                                    (validityChange)="onCommentFormValidityChange($event)"></rappider-crud-view-edit-form>
    </ng-container>
  </nz-modal>