.container-fluid {
  display: flex;
  width: 100%;
}

.title-area {
  margin-bottom: 20px;
}

.delivery-status {
  display: flex;
  align-items: center;
}

.quantity-area {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(148, 142, 142);
  margin-bottom: 30px;
  margin-right: 50px;
}

.distributor-info {
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
  border-bottom: 1px solid rgb(148, 142, 142);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-detail {
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
  line-height: 1.5;
}

.product-info {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.product-detail {
  display: flex;
}

.description-area {
  margin-left: 10px;

}

.image {
  max-width: 70px;
  height: 105px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.summary-area {
  width: 100%;
}

.order-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.checkout {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

::ng-deep {
  .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    display: flex;
    align-items: center;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
}