<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1 class="my-4">Product's Edit</h1>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../assets/add.png" class="card-img-top" alt="Add Product">
                <div class="card-body">
                    <h5 class="card-title">Add Product</h5>
                    <p class="card-text">Click here to add a new product.</p>
                    <button class="btn btn-primary" (click)="navigateToAddProduct()">Add Product</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../assets/delete.png" class="card-img-top" alt="Delete Product">
                <div class="card-body">
                    <h5 class="card-title">Delete Product</h5>
                    <p class="card-text">Click here to delete a product.</p>
                    <button class="btn btn-primary" (click)="navigateToDeleteProduct()">Delete Product</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../assets/update.png" class="card-img-top" alt="Update Product">
                <div class="card-body">
                    <h5 class="card-title">Update Product</h5>
                    <p class="card-text">Click here to update a product.</p>
                    <button class="btn btn-primary" (click)="navigateToUpdateProduct()">Update Product</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1 class="my-4">Categories Edit</h1>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../assets/add.png" class="card-img-top" alt="Add Category">
                <div class="card-body">
                    <h5 class="card-title">Add Categories</h5>
                    <p class="card-text">Click here to add a new category.</p>
                    <button class="btn btn-primary" (click)="navigateToAddCategory()">Add Category</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../assets/delete.png" class="card-img-top" alt="Delete Category">
                <div class="card-body">
                    <h5 class="card-title">Delete Category</h5>
                    <p class="card-text">Click here to delete a category.</p>
                    <button class="btn btn-primary" (click)="navigateToDeleteCategory()">Delete Category</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../assets/update.png" class="card-img-top" alt="Update Category">
                <div class="card-body">
                    <h5 class="card-title">Update Category</h5>
                    <p class="card-text">Click here to update a category.</p>
                    <button class="btn btn-primary" (click)="navigateToUpdateCategory()">Update Category</button>
                </div>
            </div>
        </div>
    </div>
</div>