<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="branding">
      <div class="logo-area">
        <a class="navbar-brand"
           href="#">
          ECommerce
        </a>
      </div>
      <div class="navbar-items">
        <div *ngIf="!user"
             class="signout">
          <button nz-button
                  (click)="onLoginClick()">
            Login
          </button>
        </div>
        &nbsp; &nbsp;
        <div *ngIf="!user"
             class="register">
          <button nz-button
                  (click)="onRegisterClick()">
            Register
          </button>
        </div>
        <div *ngIf="user">

          <button nz-button
                  nz-dropdown
                  [nzDropdownMenu]="menu">
            My Account
            <span nz-icon
                  nzType="down"></span>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>{{user.firstName}} {{user.lastName}}</li>
              <li nz-menu-item
                  (click)="goToPreviousPurchases()">Previously Purchased Products</li>
              <li *ngIf="['productManager', 'salesManager'].includes(user.role?.key)"
                  nz-menu-item
                  (click)="goToAdminPage()">Admin Page</li>
              <li *ngIf="user"
                  nz-menu-item
                  (click)="logout()">Logout</li>
            </ul>
          </nz-dropdown-menu>&nbsp;
          <a href="/cart">
            <nz-badge nzSize="small"
                      [nzCount]="cart?.length ?? 0">
              <i class="fa-solid fa-cart-shopping"></i>
            </nz-badge>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="content-area">
  <router-outlet></router-outlet>
</div>