.container-fluid {
  padding: 40px;
}

.branding {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-items {
  display: flex;
}

.navbar-brand{
  font-size: 30px;
}

.content-area {
  padding-left: 200px;
  padding-right: 200px;
  height: 100%;
}
