<div class="container">
    <div class="col-md-12 text-center">
        <h1 class="my-4">Admin Panel</h1>
    </div>
    <div class="crud-sections">
        <div class="card">
            <button (click)="navigateToEditProduct()"
                    class="btn btn-primary">Products</button>
        </div>
        <div *ngIf="isProductManager()"
             class="card">

            <button (click)="navigateToEditCategory()"
                    class="btn btn-primary">Categories</button>
        </div>
        <div class="card">
            <button (click)="navigateToEditDist()"
                    class="btn btn-primary">Distributors</button>
        </div>
        <div *ngIf="isSalesManager()"
             class="card">
            <button (click)="goToRefundStatus()"
                    class="btn btn-primary">Refund Status</button>

        </div>

        <div *ngIf="isProductManager()"
             class="card">
            <button (click)="goToCommentStatus()"
                    class="btn btn-primary">Comment Status</button>
        </div>
        <div *ngIf="isProductManager()"
             class="card">
            <button (click)="goToDeliveryList()"
                    class="btn btn-primary">Delivery List</button>
        </div>
    </div>
</div>