:host ::ng-deep {

  /* container display mode styles */
  .main-container {
    display: block;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}