<section>
  <div *ngIf="activeProduct"
       class="container-fluid">
    <div class="image-container">
      <img [src]="activeProduct.imageUrl"
           alt="product image here"
           width="100%">
    </div>
    <div class="detail-container">
      <div class="category-title">
        {{activeCategory?.name}}
      </div>
      <div class="title-area">
        <span class="distributor">{{distributor?.name}}</span> <span> {{activeProduct.name }}</span>
      </div>
      <div class="description">
        <rappider-rate-display [rate]="activeProduct.rating"></rappider-rate-display>
      </div>
      <div class="price"
           [ngClass]="{'line-through':activeProduct.discountRate}">
        ${{activeProduct.price}}
      </div>
      <div *ngIf="activeProduct.discountRate"
           class="final-price">
        ${{activeProduct.price - (activeProduct.price * activeProduct.discountRate / 100)}}
      </div>
      <b>Stocks: </b> {{activeProduct.quantityInStocks}}

      <nz-divider></nz-divider>

      <div class="add-button">
        <button nz-button
                nzType="primary"
                (click)="addToCart()">
          Add To Cart
        </button>
      </div>
    </div>



  </div>
  <br>
  <h5>Comments</h5>
  <hr class="solid">
  <ng-container *ngIf="activeProduct?.comments?.length; else noCommentTmpl">
    <ng-container *ngFor="let comment of activeProduct.comments">
      <nz-comment nzAuthor="{{comment.user.firstName}} {{comment.user.lastName}}"
                  [nzDatetime]="getTimeDiff(comment.createdDate)">
        <nz-comment-content>
          <p>
            {{comment.message}}
          </p>
        </nz-comment-content>
      </nz-comment>
    </ng-container>
  </ng-container>
  <ng-template #noCommentTmpl>
    There are currently no comments.
  </ng-template>
</section>